<section class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="about-heading">Acerca de Nosotros</h2>
          <p class="about-description">
            Bienvenidos a nuestra tienda de ropa. Somos una tienda dedicada a ofrecer las últimas tendencias en moda y estilo.
            Nuestro objetivo es brindarte una experiencia de compra única y satisfactoria. Encontrarás una amplia selección
            de prendas de calidad que te harán lucir increíble en cualquier ocasión.
          </p>
          <h2 class="about-heading">Misión</h2>
          <p class="about-description">
            Nuestra misión en la Tienda de Ropa Nuevo Estilo Tarija es ofrecer a nuestros clientes las últimas tendencias en moda y estilo, 
            brindándoles una experiencia de compra única y satisfactoria. 
          </p>
          <h2 class="about-heading">Visión</h2>
          <p class="about-description">
            Convertirnos en la principal opción de moda y estilo en Tarija Bolivia.
             Aspiramos a ser reconocidos y destacarnos por nuestra variedad 
            de productos exclusivos y nuestra dedicación al servicio al cliente. 
          </p>
        </div>
        <div class="col-md-6">
          <img class="about-image" src="/assets/imagenAbout.png"  alt="Imagen de la tienda de ropa">
        </div>
      </div>
    </div>
  </section>
  
