<footer class="axil-footer-area footer-style-2">
    <!-- Start Footer Top Area  -->
    <div class="footer-top separator-top" id="copyright">
        <div class="container">
            <div class="row">
                <!-- Start Single Widget  -->
                <div class="col-lg-3 col-sm-6">
                    <div class="axil-footer-widget">
                        <h5 class="widget-title">Dirección</h5>
                        <!-- <div class="logo mb--30">
                        <a href="index.html">
                            <img class="light-logo" src="assets/images/logo/logo.png" alt="Logo Images">
                        </a>
                    </div> -->
                        <div class="inner">
                            <p>A. Los Sauces esq. Fabian Ruiz, <br>
                            Tarija, Cercado, <br>
                            Bolivia.
                            </p>
                            <ul class="support-list-item">
                                <li><a href="mailto:nuevoestilotarija@gmail.com"><i class="fal fa-envelope-open"></i> nuevoestilotarija@gmail.com</a></li>
                                <li><a href="tel:(+01)850-315-5862"><i class="fal fa-phone-alt"></i> (+591) 70219265</a></li>
                                <!-- <li><i class="fal fa-map-marker-alt"></i> 685 Market Street,  <br> Las Vegas, LA 95820, <br> United States.</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top Area  -->
    <!-- Start Copyright Area  -->
    <div class="bottom-area separator-top" id="copyright">
        <div class="container">
            <div class="row align-items-center"  >
                <!-- Métodos de pago -->
                <div class="row-md-4 d-flex justify-content-center justify-content-md-end" >
                    <span class="card-text">Accept For:   </span>
                    <div id="img"> 
                    <img class="" src="/assets/visa.png" alt="Visa" style="width: 50px; height: auto;" id="img">
                    <img src="/assets/mastercard.png" alt="Mastercard" style="width: 50px; height: auto;" id="img">
                    </div>
                    
                    <!--<ul class="payment-icons-bottom quick-link">
                        <li><img src="/assets/visa.png" alt="Visa" style="width: 50px; height: auto;"></li>
                        <li><img src="/assets/mastercard.png" alt="Mastercard" style="width: 50px; height: auto;"></li>
                    </ul>-->
                </div>
        
                <!-- Iconos de redes sociales -->
                <div class="row-md-4 d-flex justify-content-center">
                    <div class="icons">
                        <a href="https://www.facebook.com/profile.php?id=100095303192449&mibextid=D4KYlr" class="icon icon--facebook">
                            <i class="ri-facebook-line"></i>
                        </a>
                        <a href="https://instagram.com/nuevoestilotarija?igshid=NTc4MTIwNjQ2YQ==" class="icon icon--instagram">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="#" class="icon icon--twitter">
                            <i class="ri-twitter-line"></i>
                        </a>
                        <a href="#" class="icon icon--linkedin">
                            <i class="ri-linkedin-line"></i>
                        </a>
                    </div>
                </div>
                <!-- Copyright -->
                <div class="row-md-4 d-flex justify-content-center justify-content-md-center">
                    <p class="card-text">© 2023. All rights reserved by NuevoEstiloTarija.</p>
                </div>
            </div>
        </div>
        
    </div>
    <!-- End Bottom Area -->
</footer>
