<nav>
  <div class="navbar">
    <ul>
      <img src="/assets/WhatsApp Image 2023-07-19 at 20.01.26.jpeg" alt="" class="logo">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a>Hombre</a></li>
      <li><a>Mujer</a></li>
      <li><a>Contacto</a></li>
      <li><a>About</a></li>
    </ul>
    <div class="user-info">
      <div class="cart-container">
        <i class="fa-solid fa-cart-shopping cart"></i>
        <div class="count-container">
          <span class="item-count">{{count}}</span>
        </div>
      </div>
      <div class="buttons-login-register" *ngIf="isLoggedInUser">
        <img [src]="user.Foto" alt="User Image" class="user-image">
        <span>{{ user.Nombre }}</span>
        <button type="submit" (click)="cerrar()" class="btn btn-danger"  >
          Cerrar seción
        </button>
      </div>
      <div class="buttons-login-register" *ngIf="!isLoggedInUser">
        <!-- Show the "LOGIN" button if the user is not logged in -->
        <button class="btn btn-primary btn-block" routerLink="/login">LOGIN</button>
      </div>
    </div>
  </div>
</nav>
