<nav>
  <div class="navbar">
    <ul>
      <img src="/assets/logo.png" alt="" class="logo">
      <li><a (click)="todo()">Inicio</a></li>
      <li><a (click)="hombre()">Hombre</a></li>
      <li><a (click)="femenino()">Mujer</a></li>
      <li><a>Contacto</a></li>
      <li><a>About</a></li>
    </ul>
    <div class="user-info">
      <div class="buttons-login-register" *ngIf="isLoggedIn()">
        <img [src]="user.Foto" alt="User Image" class="user-image">
        <span>{{ user.Nombre }}</span>
        <button type="submit" (click)="cerrar()" class="btn btn-danger"  >
          Cerrar seción
        </button>
      </div>
      <div class="buttons-login-register" *ngIf="!isLoggedIn()">
        <!-- Show the "LOGIN" button if the user is not logged in -->
        <button class="btn btn-primary btn-block" routerLink="/login">LOGIN</button>
      </div>
    </div>
  </div>
</nav>
