.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
  }
  
  .logo {
    width: 200px;
    cursor: pointer;
  }
  
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: rgb(61,61,62);
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: rgb(234, 179, 52);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .navbar ul li:hover::after {
    width: 100%;
    cursor: pointer;
  }
  .navbar a:hover{
    cursor: pointer;
  }
  .user-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .buttons-login-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
  }
  .cart{
    color: rgb(42, 42, 158);
    font-size: 30px;
  }
  .cart:hover{
    cursor: pointer;
  }
  .cart-container{
    display: flex;
    flex-direction: row;
  }
  .count-container{
    display: flex;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(220, 20, 60, 0.863);
  }
  .item-count{
    font-size: 12px;
  }