<section class="titulo">
    <div class="text-center mb-4">
        <h1>Administrador de Imágenes</h1>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <button type="button" class="button center-button">
            <span class="button__text">Nueva Img</span>
            <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
        </button>
    </div>
    
</section>
<section class="layout">
   
    <div class="card" *ngFor="let i of imagen">
        <img class="card-img" src="{{i.Nombre}}" >

        <div class="card-info d-flex flex-wrap justify-content-center align-items-center">
            <p class="text-title text-center">Id: {{i.Id}}</p>
            <p class="text-body text-white">{{ obtenerNombrePorId(i.IdArticulo) }}</p>
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i> Editar
              </button>
              <button class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Eliminar
              </button>
            </div>
          </div>
          
      </div>
      

  </section>


