<div class="page">
    <div class="row justify-content-center">
        <div class="col-4 mb-3"><h1>Formulario de Envio</h1></div>
        <div class="col-9">
            <div class="mb-3 input-group ">
                <label for="exampleFormControlInput1" class="form-label m-3">Nombre</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa tu nombre">
                <label for="" class=" m-3 form-label">Apellidos</label>
                <input type="text" class="form-control" placeholder="Ingresa tu apellido">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Direccion de Envio</label>
                <input type="text" class="form-control" placeholder="Ingresa tu direccion">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Ciudad</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" placeholder="Ingresa tu correo">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Numero de telefono</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="row justify-content-center">
                <button class=" col-5 btn btn-warning" (click)="onCheckout()">Pagar</button>
            </div>
        </div>
    </div>
</div>