<div class="page">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col" *ngFor="let a of Articulos">
                  <div (mouseenter)="EfectoImagen(a.Id)" class="articulo-card h-100 card-{{a.Id}}">
                    <div class="logo">
                        <img src="/assets/WhatsApp Image 2023-07-19 at 20.01.26.jpeg" alt="NuevoEstilo" class="logo">
                    </div>
                    <div class="card-images">
                        <ng-container *ngFor="let imagen of a.Imagenes; let i = index">
                          <img class="imagen-card{{ a.Id }} {{ i !== 0 ? 'idle' + a.Id : '' }}" [src]="imagen.Nombre" alt="Imagen" [id]="imagen.Id" [ngClass]="{'active': i === 0}" >
                        </ng-container>
                    </div>                      
                    <div class="card-details">
                        <div class="card-rating">
                            <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            </span>
                            <span class="rating-number">(18)</span>
                        </div>
                        <span class="card-title">{{a.Nombre}}</span>
                        <p>{{a.Descripcion}}</p>                        
                        <div class="color-price">
                            <div class="color-option">
                                <span class="color">Color:</span>
                                <div class="circles">
                                    <span class="circle blue active" id="blue"></span>
                                    <span class="circle yellow" id="yellow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="price">
                            <span class="price_num">{{a.PrecioUnitario}}</span>
                            <span class="price_letter"> Bs</span>
                        </div>
                        <div class="buttons">
                            <button class="btn btn-warning" (click)="DetalleArticulo(a.Id)" routerLink="/detallearticulo/{{a.Id}}">Ver mas</button>
                        </div>
                    </div>                
                  </div>
                </div>
            </div>
        </div>
    </div>    
</div>