<div class="container mt-5">
    
    <div class="text-center mb-4">
      <h1>Administrador de Tallas</h1>
    </div>
  
    
    <div class="text-right mb-3">
      <button class="btn btn-success">
        <i class="fas fa-plus"></i> Nuevo
      </button>
    </div>
  
    
    <div class="table-responsive">
      <table class="table table-striped table-dark">

        <thead>
          <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Stock</th>
            <th scope="col">Operaciones</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let talla of tallas" class="text-center">
            <td>{{ talla.Id }}</td>
            <td>{{ talla.NombreTalla }}</td>
            <td>{{ talla.Stock }}</td>
            <td>
              <button class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i> Editar
              </button>
              <button class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  