<div class="page">
    <div class="row justify-content-center">
        <div class=" row col-10">
            <div class="col-2">
                <div class="col m-3 left-img">
                    <ng-container *ngFor="let img of Articulo.Imagenes; let i=index">
                    <img class="mb-3 image-options option{{img.Id}}" [src]="img.Nombre" alt="" [ngClass]="{'active': i === 0}" (mouseover)="ImageEfect(img.Id)">
                </ng-container>
                </div>
            </div>
            <div class="col-5 img-center">
                <ng-container *ngFor="let imagen of Articulo.Imagenes; let i = index">
                    <img class="img{{imagen.Id}}" [src]="imagen.Nombre" alt="Imagen" [id]="imagen.Id" [ngClass]="{'active': i === 0}" >
                  </ng-container>
            </div>
            <div class="col-5">ss</div>
        </div>
    </div>
</div>
