<div class="page">
    <div class="row justify-content-center">
        <div class=" row col-10">
            <div class="col-2">
                <div class="col m-3 left-img">
                    <ng-container *ngFor="let img of Articulo.Imagenes; let i=index">
                    <img class="mb-3 image-options option{{img.Id}}" [src]="img.Nombre" alt="" [ngClass]="{'active': i === 0}" (mouseover)="ImageEfect(img.Id)">
                </ng-container>
                </div>
            </div>
            <div class="col-5 img-center">
                <ng-container *ngFor="let imagen of Articulo.Imagenes; let i = index">
                    <img class="img{{imagen.Id}}" [src]="imagen.Nombre" alt="Imagen" [id]="imagen.Id" [ngClass]="{'active': i === 0}" >
                  </ng-container>
            </div>
            <div class="col-5">
                <div class="detalles m-3">
                    <h1>{{Articulo.Nombre}}</h1>
                    <div>
                        <span>Sku: {{Articulo.CodigoBarras}}</span>
                    </div>
                    <span class="h2">Bs<span>{{Articulo.PrecioUnitario}}</span></span>
                    <div class="row mt-3 mb-3">
                        <div class="col-1 tallas" *ngFor="let t of Talla">
                            <span >{{t.NombreTalla}}</span>
                        </div>
                    </div>
                    <p>{{Articulo.Descripcion}}</p>
                    <h4>Caracteristicas:</h4>
                    <div class="row">
                        <span class="col-12">Material: <span>{{Articulo.Material}}</span></span>
                        <span class="col-12">Color: <span>{{Articulo.Color}}</span></span>
                    </div>
                    <div class="row justify-content-center">
                        <form (ngSubmit)="AddCarrito()">
                        <input [(ngModel)]="countStok" type="number" max="3" min="1" class="input" name="countStok" id="countStok"   value="1">
                        <button type="submit" class="mt-3 col-6 btn btn-warning"  >Añadir al carrito</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
